*{
  margin: 0;
  padding: 0;
  border:0;
  list-style: none;
  text-decoration: none;
}

//给一个版心
body{
  font-family:"微软雅黑";
}
@width:1000px;
/*头部*****************************************************/
.header{
  margin:auto;
  width: @width;
  height: 157px;
  //background:pink;
}

.header{
  overflow: hidden;
  ul{
    padding-top:5px;
    //width: 500px;
    height: 30px;
    float: right;
    overflow: hidden;
    //position: absolute;
    li{
      float: left;
      margin-left:10px;
      position: relative;
    }
    a{
      color:#909090;
      font-size:13px;
    }
  }
}
.header .head_top ul li span{
  display: inline-block;
  color: #909090;
  font-size:12px;
  padding-left: 10px;
}
.header ul li:after{
  content: '';
  display: inline-block;
  width: 92%;
  height: 1px;
  background: #909090;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: -20px;
  right: 20px;
  left: 0px;
  transition: all 0.1s;
  transform: scale(0);
}
.header ul li:hover:after{
  transform: scale(1);

}
h1{
  width: 140px;
  height: 157px;
  cursor: pointer;
  background: url("../images/h_logo.gif") no-repeat 15px;
  float: left;
  //position: relative;
  float: left;
  border-right: 1px solid #ccc;

}
.city{
  float: left;
  width: 250px;
  height: 60px;
  margin-top: 67px;
  margin-left:23px;
  b{
    font-size:17px;
    //font-weight:bold;
    color: #444;
    padding-right:5px;
  }
a{
  color: #909090;
  font-size:13px;
  span{
    background: url("../images/f_03.jpg") no-repeat;
    display: inline-block;
    width: 76px;
    height: 20px;
  }
}
  p{
    font-size:20px;
    color: #444444;
  }
}
.phone{
  width: 400px;
  height: 50px;
  float: right;
  margin-top:25px;
  overflow: hidden;
  position: relative;

  //top: 30px;
  .phone_l{
    //width: 400px;
    height: 50px;
    float: left;
  }
}
.phone .phone_r{
  padding-left:15px;
  //vertical-align: middle;
  //text-align: center;
  position: absolute;
  top: 10px;
  //padding-top:30px;
  i{
    font-style:normal;
    color: #ff4a00;
    font-size:22px;
    font-weight:bold;
  }
  b{
    font-size:22px;
    color: #909090;
  }
  strong{
    font-size:24px;
    color: #ff4a00;
  }

}
 .nav{
  width: 100%;
  height: 55px;
  background: #404144;
   ul{
     width: 960px;
     margin: auto;
     line-height:55px;
     //text-align: center;
     li{
       float: left;
       a{
         color: #fff;
         padding: 0 13px 0 14px;
         display: inline-block;
       }
     }
   }
}
 .nav ul li:hover{
   background: #ff4a00;
 }
 //.city a:hover .select{
 //  display: block;
 //}
 .select{
   width: 350px;
   height: 215px;
   border: 1px solid #e5e5e5;
   position: absolute;
   left: 25%;
   top:14%;
   padding:20px;
   overflow: hidden;
   background: #fff;
   display: none;
   a{
     font-size:15px;
     color: #909090;
     display: inline-block;
     float: left;
     padding: 0 5px;
     height: 20px;
     position: relative;
   }
   span{
     float: right;
     font-size:12px;
     color: #909090;
   }
 }
 .select a:after{
   content: '';
   display: inline-block;
   width: 90%;
   height: 1px;
   background: #ff4a00;
   margin: auto;
   position: absolute;
   top: 0;
   bottom: -18px;
   right: 0px;
   left: 0px;
   transition: all 0.1s;
   transform: scale(0);
 }
.select a:hover{
  color: #ff4a00;
}
.select a:hover:after{
  background:#ff4a00;
  transform: scale(1);
}
.select .line{
  height: 22px;
  border-bottom: 1px dashed #909090;
}
.select{
  .p1{
    font-size:12px;
    color: #404144;
    margin-top:10px;
    margin-bottom:20px;
  }
  .p2{
    height: 30px;
    font-size:14px;
    a{
      float: none;
    }
  }
}
.select .p2 a:hover:after{
  display: none;
}
/*banner**********************************************************/
.banner{
  width: 100%;
  height: 523px;
  background:url("../images/ban_02.jpg");
}

/*con********************************************************/
.con1{
  height: 1102px;
  background:url("../images/one_03.jpg") no-repeat;
  background-size:100%;
  .con1_xin{
    width: 1000px;
    margin: auto;
    height: 100%;
    position: relative;
    .p4{
      font-size:18px;
      padding: 175px 0 0 385px;
      color: #3e3a39;
    }
  }
}
.con1 .con1_xin .p4{
  b{
    color: #f08300;
  }
  h4{
    padding: 6px 0;
  }
}
.con1 .con1_xin dl{
  width: 400px;
  height: 140px;
  //overflow: hidden;
  position: absolute;
  color: #4c4948;
  background:url("../images/h_06.jpg") no-repeat;
  dt{
    padding-left:30px;

    width: 118px;
    float: left;
    line-height:142px;

  }
  dd{
    padding-left:10px;
    width: 180px;
    float: left;
    b{
      display: inline-block;
      font-size:18px;
      padding: 20px 0 5px 0;
    }
    p{
      font-size:14px;
      line-height:20px;
    }
  }
}
.con1 .con1_xin dl dt img{
  margin-top:30px;
  margin-left:20px;
}
.con1 .con1_xin dl:nth-of-type(1){
  top: 370px;
  left: 30px;
}
.con1 .con1_xin dl:nth-of-type(2){
  top: 604px;
  left: 30px;
}
.con1 .con1_xin dl:nth-of-type(3){
  top: 840px;
  left: 30px;
}
.con1 .con1_xin dl:nth-of-type(4){
  top: 490px;
  right: -20px;
}
.con1 .con1_xin dl:nth-of-type(5){
  top: 720px;
  right: -20px;
}
.con1 .con1_xin dl:nth-of-type(1):hover{
  background:url("../images/h_03.jpg");
}
.con1 .con1_xin dl:nth-of-type(2):hover{
  background:url("../images/h_03.jpg");
}
.con1 .con1_xin dl:nth-of-type(3):hover{
  background:url("../images/h_03.jpg");
}
.con1 .con1_xin dl:nth-of-type(4):hover{
  background:url("../images/ff_03.jpg") right 0;
}
.con1 .con1_xin dl:nth-of-type(5):hover{
  background:url("../images/ff_03.jpg") right 0;
}
.con2{
  background:url("../images/two_02.jpg") no-repeat center 0;
  background-size: 100%;
  height: 1660px;
  .con2_xin{
    font-family:"微软雅黑";
    width: 740px;
    margin: 0 auto;
    height: 1660px;
    overflow: hidden;
    //position: relative;
  }
  .con2_left{
    width: 296px;
    height: 602px;
    float: left;
    position: relative;
    top: 350px;
  }
}
.con2 .con2_left .smgz{
  display: none;
  width: 261px;
  height: 177px;
  background:url("../images/tms_03.png");
  position: absolute;
  left: 326px;
  top: 50px;
  img{
    width: 77px;
    height: 79px;
    display: block;
    padding: 35px 0 0 100px;
  }
  span{
    font-size:10px;
    color: #555657;
    text-align: center;
    display: block;
  }
}
.con2 .con2_right{
  width: 276px;
  float: left;
  background:url("../images/ts_03.png") no-repeat 0 10px;
  margin-top:625px;
  padding-left:168px;
  b{
    font-size:24px;
    color: #f08300;
    display: block;
    height: 60px;
  }
  p{
    width: 262px;
    height: 130px;
    font-size:14px;
    color: #4c4948;
    line-height:25px;
  }
  a{
    width: 87px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #4c4948;
    font-size:14px;
    display: block;
    background:url("../images/jf_14.jpg") no-repeat;
  }
}
.con2_xin div:nth-of-type(3){
  position: relative;
  background:url("../images/ts_07.jpg") no-repeat 0 10px;
  margin-top:410px;
  a{
    margin-left:-165px;
    margin-top:245px;
  }
  b{
    position: absolute;
    left: 30px;
    top: 0px;
  }
  p{
    position: absolute;
    left: 0;
    top: 60px;
  }


}
.con2_xin div:nth-of-type(4){
  float: right;
  position: relative;
  top:190px;
  .smgz{
    left: -326px;
    background:url("../images/tmsf_07.png") no-repeat;
    img{
      padding: 20px 0 0 89px;
    }
  }
}
.con3{
  width: 863px;
  height: 1000px;
  padding-top:50px;
  margin:0 auto;
  h4{
    padding-bottom:10px;
    text-align: center;
    p{
      font-size:18px;
      color: #595757;
      padding-top: 25px;
      font-weight:normal;
    }
    img{
      vertical-align: top;
    }
  }
}
.con3 .slider{
  width: 863px;
  height: 460px;
  margin: 0 auto;
  //overflow: hidden;
  position: relative;
  //background: pink;
  .slider_main{
    //margin: 0 auto;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 863px;
    height: 460px;
    background:url("../images/zh_07.jpg") no-repeat scroll 0 bottom;

    //overflow: hidden;
    li{
      width: 256px;
      height: 460px;
      position: absolute;
      display: block;
      //float: left;
  }

  }
}
/*左右耳朵********************************/

.slider_ctl_prev, .slider_ctl_next{
  width: 53px;
  height: 52px;
  position: absolute;
  top:50%;
  margin-top: -26px;
  z-index: 99;
}
.slider_ctl{
  opacity: 1;
}
.slider_ctl_prev{
  background: url("../images/fs_03.png") no-repeat;
  left:30px;
}

.slider_ctl_next{
  background: url("../images/fs_05.png") no-repeat;
  right:30px;
}

.slider .slider_main a span{
  opacity: 1;
  display: block;
  width: 256px;
  height: 175px;
  background:url("../images/em_06.png") repeat;
  padding-top:20px;
  position: absolute;
  left: 0;
  bottom: 0;
  img{
    opacity: 1;
    display: block;
    width: 157px;
    height: 157px;
    margin: 0 auto;
  }
}

.button_ctl{
  width: 863px;
  height: 150px;
  padding-top:30px;
  li{
    width: 125px;
    margin-left:200px;
    float: left;
    position: relative;

    a{
      display: inline-block;
      width: 125px;
      padding-top:90px;
      font-size:18px;
      color: #595757;
      font-weight:normal;
      font-family:"微软雅黑";
    }
  }
}
.button_ctl li:nth-of-type(1) a{
  background:url("../images/sho_03.jpg") no-repeat center;
}
.button_ctl li:nth-of-type(2) a{
  background:url("../images/bs_06.jpg") no-repeat center ;
}
.button_ctl li i{
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 20px;
}
.button_ctl li b{
  color: dodgerblue;
  display: inline-block;
  position: absolute;
  font-weight:normal;
  left: -60px;

}
.button_ctl li strong{
  display: inline-block;
  position: absolute;
  font-weight:normal;
  left: 0px;

}

.writer{
  width: 863px;
  height: 188px;
  background:url("../images/g_03.jpg") no-repeat center;
  text-align: center;
  font-size:14px;
  color: #595757;
  //line-height:35px;
  //z-index: 1;
  b{
    background:url("../images/zis_03.jpg") no-repeat top center;
    display: block;
    text-align: center;
    width: 863px;
    margin: 0 auto;
    height: 35px;
    //z-index: 999;
  }
  p{
    color: #221815;
    line-height:28px;
    padding-top:15px;
  }
}